In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/data_gdp.csv')
df.head()

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            151 non-null    float64
 5   1961            154 non-null    float64
 6   1962            157 non-null    float64
 7   1963            157 non-null    float64
 8   1964            157 non-null    float64
 9   1965            163 non-null    float64
 10  1966            164 non-null    float64
 11  1967            167 non-null    float64
 12  1968            168 non-null    float64
 13  1969            168 non-null    float64
 14  1970            190 non-null    float64
 15  1971            191 non-null    float64
 16  1972            191 non-null    float64
 17  1973            191 non-null    float64
 18  1974            191 non-null    float64
 19  1975            195 non-null    float64
 20  1976            195 non-null    float64
 21  1977            198 non-null    float64
 22  1978            197 non-null    float64
 23  1979            198 non-null    float64
 24  1980            208 non-null    float64
 25  1981            208 non-null    float64
 26  1982            209 non-null    float64
 27  1983            209 non-null    float64
 28  1984            211 non-null    float64
 29  1985            213 non-null    float64
 30  1986            213 non-null    float64
 31  1987            220 non-null    float64
 32  1988            223 non-null    float64
 33  1989            223 non-null    float64
 34  1990            240 non-null    float64
 35  1991            241 non-null    float64
 36  1992            242 non-null    float64
 37  1993            243 non-null    float64
 38  1994            244 non-null    float64
 39  1995            247 non-null    float64
 40  1996            247 non-null    float64
 41  1997            249 non-null    float64
 42  1998            250 non-null    float64
 43  1999            250 non-null    float64
 44  2000            252 non-null    float64
 45  2001            253 non-null    float64
 46  2002            257 non-null    float64
 47  2003            257 non-null    float64
 48  2004            257 non-null    float64
 49  2005            257 non-null    float64
 50  2006            258 non-null    float64
 51  2007            258 non-null    float64
 52  2008            259 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            262 non-null    float64
 56  2012            260 non-null    float64
 57  2013            260 non-null    float64
 58  2014            261 non-null    float64
 59  2015            259 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            257 non-null    float64
 65  2021            257 non-null    float64
 66  2022            254 non-null    float64
 67  2023            242 non-null    float64
dtypes: float64(64), object(4)
memory usage: 141.4+ KB

In [ ]:
df = df.astype({'Country Name': 'string', 'Country Code': 'string','Indicator Name':'string', 'Indicator Code':'string'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    string
 1   Country Code    266 non-null    string
 2   Indicator Name  266 non-null    string
 3   Indicator Code  266 non-null    string
 4   1960            151 non-null    float64
 5   1961            154 non-null    float64
 6   1962            157 non-null    float64
 7   1963            157 non-null    float64
 8   1964            157 non-null    float64
 9   1965            163 non-null    float64
 10  1966            164 non-null    float64
 11  1967            167 non-null    float64
 12  1968            168 non-null    float64
 13  1969            168 non-null    float64
 14  1970            190 non-null    float64
 15  1971            191 non-null    float64
 16  1972            191 non-null    float64
 17  1973            191 non-null    float64
 18  1974            191 non-null    float64
 19  1975            195 non-null    float64
 20  1976            195 non-null    float64
 21  1977            198 non-null    float64
 22  1978            197 non-null    float64
 23  1979            198 non-null    float64
 24  1980            208 non-null    float64
 25  1981            208 non-null    float64
 26  1982            209 non-null    float64
 27  1983            209 non-null    float64
 28  1984            211 non-null    float64
 29  1985            213 non-null    float64
 30  1986            213 non-null    float64
 31  1987            220 non-null    float64
 32  1988            223 non-null    float64
 33  1989            223 non-null    float64
 34  1990            240 non-null    float64
 35  1991            241 non-null    float64
 36  1992            242 non-null    float64
 37  1993            243 non-null    float64
 38  1994            244 non-null    float64
 39  1995            247 non-null    float64
 40  1996            247 non-null    float64
 41  1997            249 non-null    float64
 42  1998            250 non-null    float64
 43  1999            250 non-null    float64
 44  2000            252 non-null    float64
 45  2001            253 non-null    float64
 46  2002            257 non-null    float64
 47  2003            257 non-null    float64
 48  2004            257 non-null    float64
 49  2005            257 non-null    float64
 50  2006            258 non-null    float64
 51  2007            258 non-null    float64
 52  2008            259 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            262 non-null    float64
 56  2012            260 non-null    float64
 57  2013            260 non-null    float64
 58  2014            261 non-null    float64
 59  2015            259 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            257 non-null    float64
 65  2021            257 non-null    float64
 66  2022            254 non-null    float64
 67  2023            242 non-null    float64
dtypes: float64(64), string(4)
memory usage: 141.4 KB

In [ ]:
df_transposed = df
df_transposed = df_transposed.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'])
#df_transposed.rename(columns={'Country Name': 'Year'}, inplace=True)
df_transposed = df_transposed.set_index('Country Name')
df_transposed = df_transposed.transpose()
df_transposed.index.name = 'Year'
df_transposed.head()

Country Name,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Viet Nam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1960,NaN,2.421063e+10,NaN,1.190495e+10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.371950e+12,NaN,NaN,NaN,8.748597e+09,698739720.8,1.052990e+09
1961,NaN,2.496398e+10,NaN,1.270788e+10,NaN,NaN,NaN,1.999708e+10,NaN,NaN,...,NaN,NaN,NaN,1.445950e+12,NaN,NaN,NaN,9.225996e+09,682359727.3,1.096647e+09
1962,NaN,2.707880e+10,NaN,1.363076e+10,NaN,NaN,NaN,2.032767e+10,NaN,2.445060e+10,...,NaN,NaN,NaN,1.550600e+12,NaN,NaN,NaN,9.813996e+09,679279728.6,1.117602e+09
1963,NaN,3.177575e+10,NaN,1.446909e+10,NaN,NaN,NaN,2.236296e+10,NaN,1.827212e+10,...,NaN,NaN,NaN,1.669570e+12,NaN,NaN,NaN,1.085420e+10,704339718.5,1.159512e+09
1964,NaN,3.028579e+10,NaN,1.580376e+10,NaN,NaN,NaN,2.481163e+10,NaN,2.560525e+10,...,NaN,NaN,NaN,1.830170e+12,NaN,NaN,NaN,1.195600e+10,822639671.3,1.217138e+09

In [137]:
df_transposed.index.name

'Year'

In [138]:
df_transposed.describe()

Country Name,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Viet Nam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
count,3.800000e+01,6.400000e+01,2.400000e+01,6.400000e+01,4.400000e+01,4.400000e+01,5.400000e+01,6.300000e+01,5.400000e+01,6.200000e+01,...,2.100000e+01,3.900000e+01,4.500000e+01,6.400000e+01,5.400000e+01,1.600000e+01,2.900000e+01,6.400000e+01,6.400000e+01,6.400000e+01
mean,2.077401e+09,3.804612e+11,1.326544e+10,2.802495e+11,4.081836e+10,7.343890e+09,1.700524e+09,1.008668e+12,1.598357e+11,2.263108e+11,...,4.061381e+09,1.236072e+11,4.387757e+08,3.363969e+13,3.704833e+08,7.171744e+09,2.087460e+10,1.696382e+11,8.326152e+09,9.593049e+09
std,9.153639e+08,3.649650e+11,6.333793e+09,2.903743e+11,4.169355e+10,6.105866e+09,1.349105e+09,1.072319e+12,1.603012e+11,1.945248e+11,...,4.091432e+08,1.318440e+11,3.121806e+08,3.135663e+13,3.089554e+08,1.567288e+09,1.121958e+10,1.444905e+11,9.195474e+09,9.914481e+09
min,4.055866e+08,2.421063e+10,2.813572e+09,1.190495e+10,4.438321e+09,6.521750e+08,7.861771e+07,1.999708e+10,6.859867e+08,1.827212e+10,...,3.262000e+09,6.293305e+09,1.137818e+08,1.371950e+12,4.520834e+07,5.015895e+09,6.322176e+09,8.748597e+09,6.792797e+08,1.052990e+09
25%,1.335475e+09,9.584823e+10,6.779633e+09,6.561001e+10,7.412969e+09,2.045566e+09,3.946246e+08,2.261315e+11,4.081899e+10,7.004844e+10,...,3.794000e+09,2.588021e+10,1.688792e+08,6.427308e+12,1.134448e+08,6.262757e+09,1.177753e+10,4.252748e+10,2.392004e+09,4.343293e+09
50%,2.307424e+09,2.424235e+11,1.517696e+10,1.386355e+11,1.325755e+10,4.135085e+09,1.210973e+09,4.949160e+11,7.462279e+10,1.530055e+11,...,4.121000e+09,4.542785e+10,2.720146e+08,2.472295e+13,2.526580e+08,6.904862e+09,1.906314e+10,1.321460e+11,3.598927e+09,6.621341e+09
75%,2.775100e+09,6.775748e+11,1.876495e+10,4.776425e+11,7.159601e+10,1.243393e+10,3.159600e+09,1.752245e+12,3.116535e+11,3.244690e+11,...,4.324000e+09,2.235800e+11,7.478397e+08,5.899552e+13,6.705322e+08,7.884004e+09,2.801948e+10,3.179948e+11,1.437480e+10,8.677065e+09
max,3.648573e+09,1.245470e+12,2.049713e+10,8.974160e+11,1.359670e+11,2.354718e+10,4.102319e+09,3.609810e+12,5.141300e+11,6.460750e+11,...,4.784000e+09,4.297170e+11,1.126313e+09,1.061720e+14,9.381894e+08,1.046822e+10,4.322859e+10,4.581990e+11,2.916378e+10,5.107466e+10

In [139]:
df_transposed.isna().sum()

Country Name
Aruba                          26
Africa Eastern and Southern     0
Afghanistan                    40
Africa Western and Central      0
Angola                         20
                               ..
Kosovo                         48
Yemen, Rep.                    35
South Africa                    0
Zambia                          0
Zimbabwe                        0
Length: 266, dtype: int64

In [142]:
df_transposed.to_csv('new_data.csv')